<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="/styles/main.css">
</head>
<body>
  <div class="timer">
    <div class="timer-overlay">
    </div>
    <div class="timer-wrap js-timer-wrap">
      <h2>Midterm Countdown</h2>
      <div class="js-entry-point"></div>
      <div class="">
        <div class="timer__inner">
          <span>Days</span>
          <span>Hours</span>
          <span>Minutes</span>
          <span>Seconds</span>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/locale/af.js"></script>
  <script src="/js/main.js" type="text/javascript" charset="utf-8" async defer></script>
</body>
</html>

