<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <div class="timer-wrap js-timer-wrap">
  <h1>SUck Rating: <%= disapproval %> </h1>
  </div>


  <script src="/js/main.js" type="text/javascript" charset="utf-8" async defer></script>
</body>
</html>
